@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
  background-color: #272635;
  color: white;
  font-family: 'Playfair Display', sans-serif;
}

header{
  text-align: center;
  padding: 40px;
  background-color: #2A393C;
  border-radius: 0px 0px 10px 10px;
  font-size: 1.3rem;
}

input{
  width: 140px;
  background-color: #272635;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.content-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

.recipe-container{
  margin: 20px;
  display: flex;
  gap: 10px;
  min-height: 400px;

  border: 1px solid #2A393C;
  border-radius: 10px;
  background-color: #253235;
  padding: 15px;
}

.recipe-container img{
  border: none;
  border-radius: 10px;

  max-width: 400px;

  transition: 0.25s;
}
.recipe-container img:hover{
  transform: scale(1.01);
}

.recipe-container h2{
  font-size: 1.7rem;
}

.recipe-container h2, h3{
  text-decoration: underline;
}

.instruction-container{
  margin-top: 10px;
}

/*
  ###
  RESPONSIVENESS
  ###
*/ 
@media (max-width: 428px) {
  .content-wrapper{
    grid-template-columns: 100%;
  }
  .recipe-container{
    margin: 20px 0px 0px 0px;

    display: block;
    text-align: center;
  }
  .recipe-container img{
    height: 329px;
  }
}

@media (width > 428px) {
  header{
    width: 500px;
  }
  .content-wrapper{
    grid-template-columns: 100%;
  }
  .recipe-container{
    margin: 20px 0px 0px 0px;
    width: 760px;
  }
}